<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" method="get" autocomplete="off">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">开始日期</label>
        <div class="layui-input-inline">
            <input type="date" name="start_date" value="{$get.start_date|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">结束日期</label>
        <div class="layui-input-inline">
            <input type="date" name="end_date" value="{$get.end_date|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
