<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get"
      autocomplete="off">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">上游名称</label>
        <div class="layui-input-inline">
            <input name="provider_name" value="{$get.provider_name|default=''}" placeholder="请输入上游名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">地区</label>
        <div class="layui-input-inline">
            <input name="region" value="{$get.region|default=''}" placeholder="请输入地区"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-inline">
            <input name="product_name" value="{$get.product_name|default=''}" placeholder="请输入产品名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        <button class="layui-btn layui-btn-sm layui-btn-primary" data-modal='{:url("add")}'><i class="layui-icon">&#xe654;</i> 新增服务器</button>
    </div>
</form>

<script>
    layui.use(['form'], function () {
        var form = layui.form;
    });
</script>
