{extend name="../../admin/view/main"}

{block name="button"}
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("add")}'>添加业务配置</button>
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='business/index_search'}
    <div class="layui-tab-content table-block">
        <table class="layui-table" lay-skin="line">
            <thead>
                <tr>
                    <th class='list-table-check-td think-checkbox' style="width: 40px;">
                        <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                    </th>
                    <th style="width: 60px;">业务ID</th>
                    <th style="width: 120px;">业务名称</th>
                    <th style="width: 80px;">路由模式</th>
                    <th style="width: 180px;">签名私钥</th>
                    <th style="width: 180px;">IP白名单</th>
                    <th style="width: 180px;">notify_url</th>
                    <th style="width: 140px;">创建时间</th>
                    <th style="width: 60px;">状态</th>
                    <th style="width: 120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $key=>$vo}
                <tr>
                    <td class='list-table-check-td think-checkbox'>
                        <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
                    </td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.route_mode}</td>
                    <td>{$vo.business_sign_key}</td>
                    <td>{$vo.ip_whitelist}</td>
                    <td>{$vo.notify_url}</td>
                    <td>{$vo.created_at}</td>
                    <td>
                        {if $vo.status eq 1}
                        <span class="layui-btn layui-btn-sm layui-bg-green" style="padding: 0 10px; border: none;">启用</span>
                        {else}
                        <span class="layui-btn layui-btn-sm layui-bg-red" style="padding: 0 10px; border: none;">禁用</span>
                        {/if}
                    </td>
                    <td class='text-left' style="white-space: nowrap;">
                        <a class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={$vo.id}'>编辑</a>
                        <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除此业务配置吗？" data-action='{:url("remove")}?id={$vo.id}'>删除</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block} 