<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-inline">
            <input type="text" name="user_id" placeholder="请输入用户ID" value="{$get.user_id|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">协议类型</label>
        <div class="layui-input-inline">
            <select name="agreement_type" class="layui-select">
                <option value="">-- 全部类型 --</option>
                <option value="user_agreement" {if input('get.agreement_type') eq 'user_agreement'}selected{/if}>用户协议</option>
                <option value="privacy_policy" {if input('get.agreement_type') eq 'privacy_policy'}selected{/if}>隐私政策</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">协议版本</label>
        <div class="layui-input-inline">
            <input type="text" name="agreement_version" placeholder="请输入协议版本" value="{$get.agreement_version|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">IP地址</label>
        <div class="layui-input-inline">
            <input type="text" name="ip_address" placeholder="请输入IP地址" value="{$get.ip_address|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" class="layui-select">
                <option value="">-- 全部状态 --</option>
                <option value="0" {if input('get.status') eq '0'}selected{/if}>未签署</option>
                <option value="1" {if input('get.status') eq '1'}selected{/if}>已签署</option>
                <option value="2" {if input('get.status') eq '2'}selected{/if}>已撤销</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form> 