<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" placeholder="请输入用户名" value="{$get.username|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
            <input type="text" name="nickname" placeholder="请输入昵称" value="{$get.nickname|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户类型</label>
        <div class="layui-input-inline">
            <select name="usertype" class="layui-select">
                <option value="">-- 全部类型 --</option>
                {foreach $usertype_list as $key=>$value}
                <option value="{$key}" {if input('get.usertype') eq $key}selected{/if}>{$value}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" class="layui-select">
                <option value="">-- 全部状态 --</option>
                {foreach $status_list as $key=>$value}
                <option value="{$key}" {if input('get.status') eq $key}selected{/if}>{$value}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="contact_phone" placeholder="请输入手机号" value="{$get.contact_phone|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
