<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">IP地址 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input name="ip_address" value='{$vo.ip_address|default=""}' required placeholder="请输入IP地址" class="layui-input" maxlength="50">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属上游 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <select name="upstream_provider" class="layui-select" required>
                    <option value="">请选择所属上游</option>
                    {foreach $upstream_provider_list as $key=>$item}
                    <option value="{$key}" {if isset($vo.upstream_provider) && $vo.upstream_provider eq $key}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属母机 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input name="parent_machine" value='{$vo.parent_machine|default=""}' required placeholder="请输入所属母机" class="layui-input" maxlength="100">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属地区 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <select name="region" class="layui-select" required>
                    <option value="">请选择所属地区</option>
                    {foreach $region_list as $key=>$item}
                    <option value="{$key}" {if isset($vo.region) && $vo.region eq $key}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网络类型 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <select name="network_type" class="layui-select" required>
                    <option value="">请选择网络类型</option>
                    {foreach $network_type_list as $key=>$item}
                    <option value="{$key}" {if isset($vo.network_type) && $vo.network_type eq $key}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">虚拟化系统 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <select name="virtualization_system" class="layui-select" required>
                    <option value="">请选择虚拟化系统</option>
                    {foreach $virtualization_system_list as $key=>$item}
                    <option value="{$key}" {if isset($vo.virtualization_system) && $vo.virtualization_system eq $key}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">虚拟化系统机器ID</label>
            <div class="layui-input-block">
                <input name="virt_system_machine_id" value='{$vo.virt_system_machine_id|default="0"}' placeholder="请输入虚拟化系统机器ID" class="layui-input" type="number" min="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态 <span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <select name="status" class="layui-select" required>
                    {foreach $status_list as $key=>$item}
                    <option value="{$key}" {if !isset($vo.status) && $key eq 'unused'}selected{elseif isset($vo.status) && $vo.status eq $key}selected{/if}>{$item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>
    </div>
</form>

<script>
layui.use(['form'], function(){
    var form = layui.form;
    
    // 表单提交监听
    form.on('submit(*)', function(data) {
        console.log('Form data:', data.field);
        return true;
    });
});
</script>

